{% extends 'layouts/default.html' %}
{% block body_class %}home{% endblock %}

{% block content %}
<div class='welcome'>
	<div class='jumbotron'>
		<h1>Timecard</h1>
		<p class='lead'>
		Time tracking for your project.
		</p>
		<div class='row'>
			<div class='col-md-3 col-md-offset-2'>
				<a class="btn btn-black btn-block" href="/users/auth/github">Sign in with Github</a>
			</div>
			<div class='col-md-3'>
				<a class="btn btn-primary btn-block" href="/users/auth/ruffnote">Sign in with Ruffnote</a>
			</div>
			<div class='col-md-3'>
				<a class="btn btn-default btn-block" href="/users/sign_up">Sign up</a>
			</div>
		</div>
	</div>
	<section>
		<h2>
		It is possible to time tracking in connection with the Github Issue.
		</h2>
	</section>
	<section>
		<h2>
		Project owner can see at a glance the working hours of project members.
		</h2>
	</section>
</div>
{% endblock %}

